{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>{{ pizza.title }}</h1>
    <p class="lead">{{ 'Diameter: {n}' | trans({ '{n}': pizza.diameter }) }}</p>
    <div class="card">
      {% if pizza.parts is empty %}
        <div class="card-body">
          <p class="card-text">{{ 'No ingredients' | trans }}</p>
        </div>
      {% endif %}
      <ul class="list-group list-group-flush">
        {% for part in pizza.parts %}
          <li class="list-group-item">{{ part.ingredient.title }} ({{ part.weight | number_format }})</li>
        {% endfor %}
      </ul>
      <div class="card-footer">
        <a class="btn btn-dark" href="{{ path('pizza_update', {'id': pizza.id}) }}">{{ 'Update' | trans }}</a>
      </div>
    </div>
    <p class="text-right"><a href="{{ path('pizza_main') }}">{{ 'Back to list' | trans }}</a></p>
  </div>
{% endblock %}
